@font-face {
    font-family: "Redcollar";
    src: url("./fonts/Redcollar.woff2") format("woff2"),
         url("./fonts/Redcollar.woff") format("woff"),
         url("./fonts/Redcollar.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "TT-Commons";
    src: url("./fonts/TTCommons.woff2") format("woff2"),
         url("./fonts/TTCommons.woff") format("woff"),
         url("./fonts/TTCommons.ttf") format("truetype");
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-family: "TT-Commons", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.01em;
    text-align: left;
    box-sizing: border-box;
}

h1, h2, p, span {
    color: white;
}

h1, h2 {
    font-family: "Redcollar", sans-serif;
}

h1 {
    font-size: 24px;
    line-height: 28px;
}

h2 {
    letter-spacing: 0;
    line-height: 16px;
    font-size: 16px;
}

body {
    background-color: black;
    padding: 40px;
    height: 831px;
}

.logo {
    position: absolute;
    top: -10px;
    right: 0;
    width: 240px;
    height: 24px;
}

.logo>img {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    gap: 31px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.container-svg-24 {
    width: 24px;
    height: 24px;
}

/* curved shape */
.curved-shape {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 20px;
    margin: 0 auto;
    background: linear-gradient(to right, transparent 50%, #F51B1B 50% + 1px, transparent 50%);
}

.curved-right,
.curved-left {
    width: 30px;
    height: 20px;
    overflow: hidden;
    position: relative;
}
.curved-right:before,
.curved-left:before {
    content: "";
    display: block;
    width: 200%;
    height: 205%;
    position: absolute;
    border-radius: 60%;
    bottom: 0;
}
.curved-right:before {
    left: 0;
    box-shadow: -10px 10px 0 0 #F51B1B;
    transform: rotate(6deg);
}
.curved-left:before {
    right: 0;
    box-shadow: 10px 10px 0 0 #F51B1B;
    transform: rotate(-6deg);
}

/* curved shape transparent */
.curved-shape-transparent {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 60px;
    height: 20px;
    left: 56px;
    transform: scale(-1, -1);
    top: -1px;
    background: linear-gradient(to top, black 0%, transparent 1%);
}

.curved-right-transparent,
.curved-left-transparent {
    width: 30px;
    height: 20px;
    overflow: hidden;
    position: relative;
}
.curved-right-transparent:before,
.curved-left-transparent:before {
    content: "";
    display: block;
    width: 200%;
    height: 210%;
    position: absolute;
    border-radius: 60%;
    border: solid white 1px;
    bottom: 0;
}
.curved-right-transparent:before {
    left: -1px;
    box-shadow: -10px 10px 0 0 black;
    transform: rotate(6deg);
}
.curved-left-transparent:before {
    right: -1px;
    box-shadow: 10px 10px 0 0 black;
    transform: rotate(-6deg);
}

.personal-information {
    width: 322px;
    position: relative;
}

.personal-information>.glasses {
    position: absolute;
    top: 30px;
    left: 118px;
    transform: scale(1.2) rotate(9deg);
}

.personal-information>img {
    width: 322px;
    margin-bottom: -29px;
}

.about {
    background-color: #F51B1B;
    padding: 40px 24px;
    border-radius: 24px 24px 0px 0px;
    position: relative;
    min-height: 454px;
}

.about span {
    font-size: 20px;
    letter-spacing: -0.02em;
}

.name {
    margin-bottom: 40px;
}

.name h1 {
    margin-bottom: 8px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts>div{
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.contacts>div span {
    overflow-wrap: break-word;
    hyphens: auto;
    line-break: anywhere;
}

.main-information {
    margin-top: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text {
    max-width: 690px;
    margin-bottom: 33px;
}

.text>p {
    margin-bottom: 16px;
}

.text>p:last-child {
    margin-bottom: 0;
}

.qualifications-and-skills {
    width: 100%;
    height: 100%;
    border: solid 1px white;
    position: relative;
    padding: 47px 49px 48px 27px;
}

.qualifications-and-skills-section {
    display: flex;
    flex-direction: row;
    gap: 72px;
    padding: 20px 0;
    border-bottom: rgba(255, 255, 255, 0.4) 1px solid;
}

.qualifications-and-skills-section:nth-child(2) {
    padding: 0 0 20px;
}

.qualifications-and-skills-section:last-child {
    border: none;
    padding: 20px 0 0;
}

.qualifications-and-skills-section>h2 {
    width: 124px;
}

.qualifications-and-skills-section>div {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.qualifications-and-skills-section>ul{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: none;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
}

.item .item-description {
    opacity: 0.4;
}

@media (width < 361px) {
    * {
        font-size: 16px;
        line-height: 20px;
    }

    h1 {
        font-size: 20px;
        line-height: 24px;
    }

    h2 {
        font-size: 16px;
        line-height: 16px;
    }

    body {
        padding: 20px;
        height: auto;
    }

    .logo {
        left: 0;
        top: -72px;
        width: 220px;
        height: 22px;
    }

    main {
        margin-top: 70px;
        flex-direction: column;
        gap: 40px;
    }

    .personal-information {
        width: 320px;
    }

    .about {
        min-height: 288px;
    }

    .name 

    .text {
        margin-bottom: 20px;
    }

    .curved-shape-transparent {
        left: 50%;
        transform: translateX(-50%) scale(-1, -1);
    }

    .qualifications-and-skills {
        padding: 40px 15px 30px;
    }

    .qualifications-and-skills-section {
        flex-direction: column;
        gap: 16px;
        padding: 24px 0;
    }

    .qualifications-and-skills-section:nth-child(2) {
        padding: 0 0 24px;
    }

    .qualifications-and-skills-section:last-child {
        padding: 24px 0 0;
    }

    .qualifications-and-skills-section>div {
        gap: 12px;
    }

    .qualifications-and-skills-section>ul {
        gap: 16px;
    }
}